.button
  display inline-block
  padding 20px 40px
  font 700 1rem 'PT Sans', sans-serif
  color white
  box-shadow none
  border none
  background color_blue
  border-radius .313rem
  text-transform uppercase
  cursor pointer
  transition .4s
  &:hover
    background darken(@background, 10%)
