.page
  margin 0
  padding 0
  height 100%
  color color_grey
  *
    box-sizing border-box
  :focus
    outline none
  ::-moz-focus-inner
    border 0
  img
    max-width 100%
    vertical-align bottom
p
  margin-top 0
  margin-bottom 1rem
