section#about.about
    .sectionHeader.container
        h2.heading.heading_2.sectionHeader__caption About us
        .sectionHeader__description Vivamus magna purus, ullamcorper sed nunc sed, dignissim ullamcorper tortor

    .container
        .row
            .col-lg-6
                .accordion
                    header.accordion__header.accordion__header_active
                        h3.heading.heading_3 Who are we
                        i.fa.fa-chevron-down
                    .accordion__body
                        p Proin malesuada lorem massa. Nunc dictum nibh ac ornare lacinia. Quisque aliquam urna massa, pellentesque viverra quam dapibus eu. Sed rutrum mi quis tortor ornare pulvinar. Sed id ante vel felis condimentum fermentum. Etiam convallis congue tellus, ut auctor nisi congue vel.

                    header.accordion__header
                        h3.heading.heading_3 How we operate
                        i.fa.fa-chevron-down
                    .accordion__body
                        p Proin malesuada lorem massa. Nunc dictum nibh ac ornare lacinia. Quisque aliquam urna massa, pellentesque viverra quam dapibus eu. Sed rutrum mi quis tortor ornare pulvinar. Sed id ante vel felis condimentum fermentum. Etiam convallis congue tellus, ut auctor nisi congue vel.

                    header.accordion__header
                        h3.heading.heading_3 What we Offer
                        i.fa.fa-chevron-down
                    .accordion__body
                        p Proin malesuada lorem massa. Nunc dictum nibh ac ornare lacinia. Quisque aliquam urna massa, pellentesque viverra quam dapibus eu. Sed rutrum mi quis tortor ornare pulvinar. Sed id ante vel felis condimentum fermentum. Etiam convallis congue tellus, ut auctor nisi congue vel.

            .col-lg-6
                .about__slider.slick
                    .slick__item(style='background-image: url(images/about-slide_1.png)')
                    .slick__item(style='background-image: url(images/about-slide_2.jpg)')
                    .slick__item(style='background-image: url(images/about-slide_3.jpg)')
