address.address
    .address__item
        i.fa.fa-map-marker
        | 30 St Mary Axe, London, EC3A 8EP, United Kingdom
    .address__item
        i.fa.fa-mobile-phone
        a(href='tel:+380938930830') +380 93 893 0830
    .address__item
        i.fa.fa-fax
        | 01 234 456 789
    .address__item
        i.fa.fa-envelope
        a(href='mailto:office@email.com') office@email.com
