section#team.team
    .sectionHeader.container
        h2.heading.heading_2.sectionHeader__caption Our Team
        .sectionHeader__description Vivamus magna purus, ullamcorper sed nunc sed, dignissim ullamcorper tortor

    .container
        .row
            .col-sm-6.col-lg-3
                .member
                    .member__photo(style='background-image: url(images/evan-davis.png)')
                    .member__info
                        .member__name Evan Davis
                        .member__profession CEO
                    .member__socials
                        a.member__socialLink(href='javascript:void(0)')
                            i.fa.fa-facebook-square
                        a.member__socialLink(href='javascript:void(0)')
                            i.fa.fa-linkedin
                        a.member__socialLink(href='javascript:void(0)')
                            i.fa.fa-twitter
                        a.member__socialLink(href='javascript:void(0)')
                            i.fa.fa-envelope

            .col-sm-6.col-lg-3
                .member
                    .member__photo(style='background-image: url(images/shannon-clark.png)')
                    .member__info
                        .member__name Shannon Clark
                        .member__profession Marketing Specialist
                    .member__socials
                        a.member__socialLink(href='javascript:void(0)')
                            i.fa.fa-facebook-square
                        a.member__socialLink(href='javascript:void(0)')
                            i.fa.fa-linkedin
                        a.member__socialLink(href='javascript:void(0)')
                            i.fa.fa-twitter
                        a.member__socialLink(href='javascript:void(0)')
                            i.fa.fa-envelope

            .col-sm-6.col-lg-3
                .member
                    .member__photo(style='background-image: url(images/alex-wilson.png)')
                    .member__info
                        .member__name Alex Wilson
                        .member__profession Product Manager
                    .member__socials
                        a.member__socialLink(href='javascript:void(0)')
                            i.fa.fa-facebook-square
                        a.member__socialLink(href='javascript:void(0)')
                            i.fa.fa-linkedin
                        a.member__socialLink(href='javascript:void(0)')
                            i.fa.fa-twitter
                        a.member__socialLink(href='javascript:void(0)')
                            i.fa.fa-envelope

            .col-sm-6.col-lg-3
                .member
                    .member__photo(style='background-image: url(images/melissa-goodwin.png)')
                    .member__info
                        .member__name Melissa Goodwin
                        .member__profession Creative Director
                    .member__socials
                        a.member__socialLink(href='javascript:void(0)')
                            i.fa.fa-facebook-square
                        a.member__socialLink(href='javascript:void(0)')
                            i.fa.fa-linkedin
                        a.member__socialLink(href='javascript:void(0)')
                            i.fa.fa-twitter
                        a.member__socialLink(href='javascript:void(0)')
                            i.fa.fa-envelope
