section.team.section
    .sectionHeader.container
        .sectionHeader__caption Our Team
        .sectionHeader__description
        .sectionHeader__description Vivamus magna purus, ullamcorper sed nunc sed, dignissim ullamcorper tortor
