.hero#home
    .container
        .hero__info
            h1.heading.heading_1.hero__caption Welcome
                br
                | to the G Business
            p.hero__description Nullam euismod sem at ex placerat, blandit tempor massa eleifend. In sit amet pharetra dui, nec lacinia mi. Maecenas vel condimentum enim. Mauris tincidunt orci felis, vel bibendum turpis scelerisque ac.
            button.button Discover more