section#services.services
    .sectionHeader.container
        h2.heading.heading_2.sectionHeader__caption Services
        .sectionHeader__description Vivamus magna purus, ullamcorper sed nunc sed, dignissim ullamcorper tortor

    .container.text_center
        p.services__info Nullam euismod sem at ex placerat, blandit tempor massa eleifend. In sit amet pharetra dui, nec lacinia mi. Maecenas vel condimentum enim. Mauris tincidunt orci felis, vel bibendum turpis scelerisque ac. Nam at turpis vulputate, rutrum magna viverra, auctor libero. Sed felis arcu, imperdiet at laoreet ut, suscipit at leo.

        .row
            .col-md-4
                .servicesItem
                    .servicesItem__icon
                        i.fa.fa-flag
                    h3.heading.heading_3.servicesItem__caption Phasellus volutpat
                    p.servicesItem__description Donec vehicula tincidunt tortor id dignissim. Vivamus sollicitudin tempor sem nec pharetra. In tincidunt quam vitae metus convallis suscipit sit amet eget ipsum. Vestibulum id aliquam nisl.
            .col-md-4
                .servicesItem
                    .servicesItem__icon
                        i.fa.fa-briefcase
                    h3.heading.heading_3.servicesItem__caption Suspendisse feugiat
                    p.servicesItem__description Donec vehicula tincidunt tortor id dignissim. Vivamus sollicitudin tempor sem nec pharetra. In tincidunt quam vitae metus convallis suscipit sit amet eget ipsum. Vestibulum id aliquam nisl.
            .col-md-4
                .servicesItem
                    .servicesItem__icon
                        i.fa.fa-rocket
                    h3.heading.heading_3.servicesItem__caption Curabitur vel libero et felis
                    p.servicesItem__description Donec vehicula tincidunt tortor id dignissim. Vivamus sollicitudin tempor sem nec pharetra. In tincidunt quam vitae metus convallis suscipit sit amet eget ipsum. Vestibulum id aliquam nisl.

        h3.heading.heading_3.heading_light.text_notransform.text_center Suspendisse nec urna finibus, dapibus justo ut, consectetur turpis?

        br

        button.button Get in touch
