.navbar
    .container.navbar__content
        .navbar__brand
            a(href="/")
                img(src="images/logo.png")
        .navbar__menu
            include ../menu/menu
        .navbar__phone
            include ../phone/phone
        .navbar__burgerButton
            .burgerButton(data-target='.navbar__menu')
                .burgerButton__piece
                .burgerButton__piece
                .burgerButton__piece
