.slick
  &__item
    background-position center
    background-size cover
    background-repeat no-repeat
  &-slider
    position relative
  &-dots
    position absolute
    bottom 0
    left 0
    right 0
    display block
    padding 0
    list-style none
    text-align center
    li
      display inline-block
      margin 3px
      @media (max-width 768px)
        padding 10px
      button
        display block
        width 1.25rem
        height 0.25rem
        font-size 0
        line-height 0
        cursor pointer
        color transparent
        border 0
        outline none
        background-color rgba(white .5)
        @media (max-width 992px)
          width 1.9rem
          height 0.5rem
      &.slick-active button
        background-color white
