@import 'variables.styl'

@import 'grid/grid.css'
@import 'page/page.styl'
@import 'heading/heading.styl'
@import 'text/text.styl'
@import 'button/button.styl'
@import 'accordion/accordion.styl'
@import 'slick/slick.styl'
@import 'progressBar/progressBar.styl'
@import 'sectionHeader/sectionHeader.styl'

@import 'navbar/navbar.styl'
@import 'menu/menu.styl'
@import 'phone/phone.styl'
@import 'burgerButton/burgerButton.styl'
@import 'hero/hero.styl'
@import 'about/about.styl'
@import 'team/team.styl'
@import 'member/member.styl'
@import 'services/services.styl'
@import 'projects/projects.styl'
