.phone
  display flex
  align-items center
  font-weight 700
  &__icon
    font-size 3.125rem
    padding-right 1rem
    color #39f
    line-height 1
  &__title
    color #999
    font-size .875rem
    text-transform uppercase
  &__number
    color #333
    font-size 1.25rem
