.menu
  display flex
  min-height 100%
  @media (max-width 992px)
    flex-direction column
    align-items center
    padding-top 30px
    padding-bottom 30px
  &__item
    display flex
    align-items center
    position relative
    margin-left 25px
    margin-right 25px
    color #999
    font-family 'PT Sans', sans-serif
    font-size 16px
    font-weight 700
    text-transform uppercase
    @media (max-width 992px)
      padding-top 10px
      padding-bottom 10px
      margin-bottom 15px
    &:after
      height 0
      content ''
      position absolute
      bottom 0
      left 0
      right 0
      background #42a5f6
      transition height .4s
    &_active
      color #42a5f6
      &:after
        height 0.25rem
  &__link
    text-decoration none
    color inherit
    transition .4s
    &:hover
        color #42a5f6
