.menu
    .menu__item.menu__item_active
        a.menu__link(href="#home") Home
    .menu__item
        a.menu__link(href="#about") About
    .menu__item
        a.menu__link(href="#team") Team
    .menu__item
        a.menu__link(href="#services") Services
    .menu__item
        a.menu__link(href="#contact") Contact
