.projects
    &Item
        display flex
        min-height 280px
        margin-bottom 30px
        background-color #eee
        background-position center
        background-size 158px auto
        background-repeat no-repeat
        &:hover
            .projectsItem__content
                opacity 1
        &__content
            opacity 0
            display block
            padding 2rem
            background color_blue
            color white
            text-align center
            text-decoration none
            transition .6s
        &__caption
            margin-top 0
            margin-bottom 0
            font-size 1.375rem
            font-weight 700
            text-transform uppercase
        &__link
            margin-bottom 2rem
            color color_darkblue
            font-size 1.125rem
