section#projects.projects
    .sectionHeader.container
        h2.heading.heading_2.sectionHeader__caption Projects
        .sectionHeader__description Vivamus magna purus, ullamcorper sed nunc sed, dignissim ullamcorper tortor

    .container
        .row
            .col-md-4
                .projectsItem(style='background-image: url("images/yellowoak.png");')
                    a.projectsItem__content(href='javascript:void(0)' target='_blank')
                        h3.projectsItem__caption Proin malesuada
                        .projectsItem__link example.com
                        p.projectsItem__info Integer ultricies maximus elementum. Donec est felis, luctus eu lorem in, finibus volutpat leo. Quisque aliquam porttitor euismod. Suspendisse feugiat lorem in magna ultricies dapibus.

            .col-md-4
                .projectsItem(style='background-image: url("images/ironmonkey.png");')
                    a.projectsItem__content(href='javascript:void(0)' target='_blank')
                        h3.projectsItem__caption Proin malesuada
                        .projectsItem__link example.com
                        p.projectsItem__info Integer ultricies maximus elementum. Donec est felis, luctus eu lorem in, finibus volutpat leo. Quisque aliquam porttitor euismod. Suspendisse feugiat lorem in magna ultricies dapibus.

            .col-md-4
                .projectsItem(style='background-image: url("images/yellowoak.png");')
                    a.projectsItem__content(href='javascript:void(0)' target='_blank')
                        h3.projectsItem__caption Proin malesuada
                        .projectsItem__link example.com
                        p.projectsItem__info Integer ultricies maximus elementum. Donec est felis, luctus eu lorem in, finibus volutpat leo. Quisque aliquam porttitor euismod. Suspendisse feugiat lorem in magna ultricies dapibus.
