section.skills
    .sectionHeader.container
        h2.heading.heading_2.sectionHeader__caption Our Skills
        .sectionHeader__description Vivamus magna purus, ullamcorper sed nunc sed, dignissim ullamcorper tortor

    .container
        .row
            .col-lg-6
                .progressBar
                    .progressBar__title Pug
                    .progressBar__info(style='left: 80%;') 80
                    .progressBar__progress(style='width: 80%;')
                .progressBar
                    .progressBar__title Stylus
                    .progressBar__info(style='left: 97%;') 97
                    .progressBar__progress(style='width: 97%;')
                .progressBar
                    .progressBar__title Java Script
                    .progressBar__info(style='left: 65%;') 65
                    .progressBar__progress(style='width: 65%;')
                .progressBar
                    .progressBar__title Gulp
                    .progressBar__info(style='left: 72%;') 72
                    .progressBar__progress(style='width: 72%;')

            .col-lg-6
                p Integer ultricies maximus elementum. Donec est felis, luctus eu lorem in, finibus volutpat leo. Quisque aliquam porttitor euismod. Suspendisse feugiat lorem in magna ultricies dapibus. Vivamus congue, urna non mollis tempor, nunc sem tincidunt massa, eu sodales enim mi ac risus.
                p Vestibulum sit amet nisl ac justo faucibus aliquam sit amet pellentesque nunc. Mauris vulputate sapien vel vulputate eleifend. Quisque in ante a elit ultrices aliquam at et augue.
                p Donec arcu tortor, auctor vel ante quis, mollis congue nunc. Suspendisse aliquam velit quam, sit amet tempus mi semper in.
